html, h1, figure, p, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    /* width: calc(100vw - (100vw - 100%)); */
    width: auto;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.navbar {
    width: calc(100vw - (100vw - 100%));

    background-color: #111;
    color: #fff;
    box-shadow: -1px 5px 7px #11111155;
    
    position: fixed;
    z-index : 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 64px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navbar .navlist {
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar .item {
    padding: 16px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

/* FOOTER */

.footer {
    width: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: stretch;

    background-color: #111111;
    padding: 10px;
}

.footer .item {
    margin: 16px;
}

.footer .info {
    color: white;
    flex-grow: 0.25;
    flex-basis: 9em;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}